@layer components {
  .monogram {
    font-size: 2rem;
    line-height: 1;
    transition: transform var(--durationL) ease;
    display: inline-block;
  }

  .monogram:hover {
    transform: scale(1.1);
  }
}
